<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mini Blog</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body class="home-body">

		<div class="container home">
			<h1>Bienvenue sur mon Mini Blog</h1>
			<div class="articles" style="display: flex; gap: 20px;">
				<button class="btn" onclick="window.location.href='/new-article'">Créer un nouvel article</button>
				<button class="btn" onclick="window.location.href='/list-articles'">Voir la liste des articles</button>
			</div>
		</div>

	</body>
</html>
